<div class="dog">
  <h2><%= @dog.name %>'s mood</h2>
  <div class="mood"><%= @dog.mood %></div>
  <h2>Time alive:</h2>
  <div><%= @dog.alive_time %> hour(s)</div>

  <%= form_tag chihuahua_path(@dog.id), method: :put do %>
    <ul>
      <li>
        <%= check_box_tag "pet" %>
        <%= label_tag "pet", "Pet #{@dog.name}" %>
      </li>
      <li>
        <%= check_box_tag "feed" %>
        <%= label_tag "feed", "Feed #{@dog.name}" %>
      </li>
      <li>
        <%= check_box_tag "walk" %>
        <%= label_tag "walk", "Walk #{@dog.name}" %>
      </li>
    </ul>

    <%= submit_tag "Add an hour" %>
  <% end %>
</div>


<%= link_to "Visit other dogs", chihuahuas_path, class: "return-button" %>
